{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/hexagon-el.css' %}?{% now 'u' %}">
    <ul id="grid" class="clear">
        {% for gr in groups %}
            <li>
                <a class="hexagon-link" href="/shift/{{ gr.name }}">
                    <div class="hexagon"><h1 style="margin: 50% auto; text-align: center">{{ gr.name }}</h1></div>
                </a>
            </li>
        {% endfor %}
        {% if perms.back.can_see_management %}
            <li>
                <a class="hexagon-link" href="/admin">
                    <div class="hexagon" style="background: #38070ce6;"><h1
                            style="margin: 50% auto; text-align: center; font-size: 1.5em">Managements</h1></div>
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock content %}
