{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <div dir="rtl">
        <h2>ثبت‌نام</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in user_form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            {% for field in profile_form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <button class="btn btn-primary form-row form-btn col-md-1 mt-2" type="submit">تایید</button>
        </form>
    </div>
{% endblock %}