<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% load static %}
{% load custom_tags %}

{% current_date_persian %}
<html>
<div id="wait" dir="rtl">
    {% include 'layouts/loading.html' %}
    <p>{{ loading_title }}</p>
</div>
<head>
    <title>SK</title>
    {#    <link rel="stylesheet" href="/static/css/global.css?{% now 'u' %}">#}
    <link rel="stylesheet" href="{% static 'css/loading.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>
<div class="base-head">
    <a id="head-link" href="{% url 'home' %}"><h1 id="head-title">اعلام شیفت</h1></a>
</div>
<div id="base-div">
    {% block content %}{% endblock content %}
    {% block javascripts %}{% endblock javascripts %}
    <script src="{% static 'js/HideLoading.js' %}"></script>
</div>
</body>
</html>