@import url(font.css);

body {
    /*background: #3c3f41;*/
    /*background: #222D32;*/
    color: #f6f6f6;
    font-family: 'shabnam', Arial, sans-serif;
    background-image: radial-gradient(circle farthest-corner at center, #111314 0%, #1C262B 100%);
    padding-top: 47px;
}

.base-head {
    width: 200px;
    margin: 65px auto 30px auto;
}

#head-title {
    text-align: center;
    margin: 10px 0 0;
}

#head-link {
    color: white;
    text-decoration: none;
}

.date-picker-form * {
    font-family: 'shabnam', Arial, sans-serif;
}

.log-in-out a {
    position: inherit;
    width: 25px;
    text-decoration: none;
    color: white;
}

/*.log-in-out button {*/
/*    width: 100px;*/
/*    height: 30px;*/
/*    border-radius: 10px;*/
/*    border: 3px solid #acacac;*/
/*}*/
.log-in-out {
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: #000000;
    margin-bottom: 70px;
    /*width: 1524px;*/
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px -1px 40px #00ffe3;
}

a:hover {
    color: #79ca0a;
}

.create-form {
    margin-top: 150px;
}

.form-group {
    width: 250px;
}

.form-group-uncommon {
    width: calc(3 * 245px);
}

.form-row {
    margin-left: 29%;
}

.form-btn {
    margin-left: 30%;
}

.jalali_date-date {
    width: 226px;

}