@import url(font.css);

body {
    /*background: #3c3f41;*/
    /*background: #222D32;*/
    color: #f6f6f6;
    font-family: 'shabnam', Arial, sans-serif;
    background-image: radial-gradient(circle farthest-corner at center, #111314 0%, #1C262B 100%);
}

#head-title {
    margin: 65px auto 65px auto;
    text-align: center;

}
#head-link {
    color: white;
    text-decoration: none;
}

.date-picker-form * {
    font-family: 'shabnam', Arial, sans-serif;
}