
#grid {
	position: relative;
	margin: 0 auto; padding: 0;
	width: 60%;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

#grid li {
	position: relative;
	float: left;
	padding: 0 0 32.16760145166612% 0;
	width: 27.85714285714286%;
	overflow: hidden;
	visibility: hidden;
	transform: rotate(-60deg) skewY(30deg);
/* 	background: #fd005f; */
	list-style-type: none;
}

#grid li * {
	visibility: visible;
}

#grid li .hexagon {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: #343434e6;
	transform: skewY(-30deg) rotate(60deg);
	overflow: hidden;
}

#grid li:nth-child(3n+2) {
  margin: 0 1%;
}
#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
	margin-top: -6.9285714285%;
	margin-bottom: -6.9285714285%;
	transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
#grid li:nth-child(6n+4) {
	margin-left: 0.5%;
}

/*########################################################## Costume CSS*/
.hexagon-link {
	color: #ff0000;
}